*.mp3 !text !filter !merge !diff
*.MOV !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jsonl !text !filter !merge !diff
*.pdb !text !filter !merge !diff
*.pptx !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.zip !text !filter !merge !diff
