#original data
streaming_queue\data\top1000.dev
streaming_queue\data\qa_results.json
streaming_queue\data\top1000.jsonl
streaming_queue/data/*
dataset/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
exp_env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS / Editor specific
.DS_Store
Thumbs.db
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
**/target/
*.jar
.git
#original data

script/streaming_queue/data/*

# script/gaia/*
script/gaia/workspaces

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
debug/
llm_outputs/
# Virtual environment
venv/
env/
.venv/
# results/
# Distribution / packaging
build/
dist/
*.egg-info/
.agora/
# Logs
*.log
# workspaces/
# OS / Editor specific
.DS_Store
Thumbs.db
.idea/
.vscode/
script\safety_tech\output
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
script\fail_storm_recovery\results
# Environment variables
.env
researchagent_networkscriptfail_storm_recovery
.git